includes:
  - ./vendor/nunomaduro/larastan/extension.neon
parameters:
  level: 7
  paths:
    - .
  excludePaths:
    analyse:
        - vendor
        - bootstrap/cache
        - storage
  checkGenericClassInNonGenericObjectType: false
